body{
    /*background: rgb(43, 148, 180);
*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: URL('bg.jpg');
  
  
  
}
header{
    display: flex;
    justify-content: center;
    padding:  10px 0px;
    background-color: #395886;
    color: #d5deef;
    padding: 15px;
}

.question{
  
    background-color: #8AAEE0;
    margin:0px 30px;
}
.option{
    display: flex;
    flex-direction: column;
    background-color: #8AAEE0;
    border-radius: 7px;
    padding: 13px;
    
}
.d-flex{
    background-color: #d5deef;
    padding: 15px;
    margin: 10px;
    border-radius: 7px;
    text-align: center;
    width: auto;
}
.d-flex:hover{
    background-color: #b1c9ef;
}
.btn{
    display: flex;
    justify-content: center;

}

   
button:hover{
    background-color: #0563f1;
    
}
p{
    margin: 10px 40px;
}
.d-flex-btn{
    background-color: #d5deef;
    width: auto;
}
#next-btn{
    display: flex;
    justify-content: center;
}
.checked{
    background-color: #0563f1;
    padding: 15px;
    margin: 20px;
    border-radius: 7px;
    text-align: center;
    width: auto;
    
}
.d-flex-btn-dip{
    /* display: none; */
    margin: 8px 20px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 2px solid #0563f1;
}
.d-flex-btn-dis{
    display: none;
    margin:  20px 0px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 2px solid #0563f1;

}


.str{
    display: flex;
    justify-content: center;
}
.d-flex:disabled{
    background-color: #d5deef; 
}
#quizFeld{
    display: none;
}
.result{ 
    background-color: #8AAEE0;
    text-align: center;
   
    /* change */
    padding: 10px 0px;
    border-radius: 9px;
    border-style: solid;
    border-color: blue;
}

img{
  height: 50%;
  width: 50%;
  alalign: middle;
}
main{
        
    margin: 50px 0px 0px 0px;
/* change */
}
@media only screen and (min-width:768px){
    main{
        margin: 40px 200px;
        /* background-color: black; */
    }
}
